@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Convergence');
@import url('https://fonts.googleapis.com/css?family=Coda|Convergence|Kreon');
@import url('https://fonts.googleapis.com/css?family=Actor|Convergence|Source+Code+Pro|Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans:400,600,600i|Oswald');
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    background-color: #ECF0F1;
}
.cursor{
    cursor: pointer;
}
.titulo{
    font-family: 'Francois One';
    font-size: 4rem;
}
.formatos-iconos{
    color:#1D314C;
    margin-bottom: 20px;
    margin-top: 20px;
}
.tooltip-inner{
    white-space: nowrap;
    max-width: none;
}
.en-linea{
    display: inline-block;
}
.texto-perfil{
    font-family: 'Convergence', sans-serif;
    font-size: 2em;
    margin-top: 50px;
    padding-right: 60px;
    padding-left: 60px;
}
.titulo > a{
    font-size: 5.5rem;
}
@media (max-width: 600px) {
  .texto-perfil {
    font-size: 1.2em;
    margin-top: 15px;
  }
}
.menu{
	/*background: -webkit-linear-gradient(top, rgba(0,182,184,0.9) 0, rgba(0,95,99,0.9) 100%);*/
	height: 100vh;
    position: fixed;
    background-color: #00b6b8;
}
#menu-comprimido{
    font-size:6rem;
    cursor:pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(23,169,157,0.9) 0, rgba(0,95,99,0.9) 100%);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #e4f4f3;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color:#ced8ef;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.nav-visible{
    width: 100%;
}
/*segunda seccion foto y letras*/
#sobre-mi{
    margin-top: 60px;
    /*background-color:rgba(199,213,216,.4);*/
}
.foto{
    border-radius: 30%;
    width: 75%;
    height: 60vh;
    margin-left: 70px;
}
@media (max-width: 600px) {
  .foto {
    width: 60%;
    height: 30vh;
    margin-left: 60px;
  }
}
.div-foto{
    margin-bottom: 10px;
}

.fa-twitter-square:before, .fa-github-square:before, 
.fa-linkedin-square:before, .fa-download:before,
.fa-wrench:before, .fa-code:before{
    font-size: 6rem;
    /*margin: 0 15px 0 15px;*/
}
.padding-laterales{
    padding-left: 5px;
    padding-right: 5px;
}
/*habilidades*/
#habilidad, .texto-habilidad{
    display: inline;
    margin-left: 10px;
}
.row-habilidades{
    margin-bottom: 40px;
}
.top-seccion{
    margin-top: 30px;
}
@media (max-width: 1024px) {
  #seccion-habilidades{
    margin-top: 80px;
  }
}
/*fin habilidades*/
/*letras*/
.nombre{
  font-family: 'Lobster Two';
  font-size: 2em;
  color: #4C3A15;
}
.fuente-parrafos{
    font-family: 'Oswald', sans-serif;
}
@media (max-width: 600px) {
  .nombre {
    font-size: 1em;
  }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*fin de letras*/
/*barras*/
.lenguajes{
    font-family: 'Ubuntu', sans-serif;
}
.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}
/*fin barras*/

.color-uno{
    background-color: #e67e22;
}
.color-dos{
    background-color: #2980b9;
}
.color-tres{
    background-color: #30B5B0;
}
.color-cuatro{
    background: #9911bf;
}
.color-cinco{
    background: #5e0477;
}
.color-seis{
    background: #08b285;
}
.color-siete{
    background: #3498db;
}
.color-ocho{
    background:#d35400;
}
/*trabajos portafolio*/
.trabajos-portafolio > img{
    width: 100%;
}
.git-icon:before{
    color: black;
    font-size: 2em;
    /*background-color: black;*/
}
.fa-chrome:before {
    font-size: 2em;
    color: black;
}
/*fin de trabajo portafolio*/
/*contactame*/
.fa-file-pdf-o:before{
    color: red;
    font-size: 5em;
}
@media (max-width: 600px) {
  .fa-file-pdf-o{
   font-size: 4em;
  }
}
.archivo{
    margin-top: 30px;
}

.iconos-redes{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.btn-descarga{
    width: 30%;
    margin-top: 10px;
    background-color:#dbd0d0;
}
@media (max-width: 600px) {
  .btn-descarga{
    width: 80%;
  }
}
/*fin de contactame*/